.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 10px !important;
}

.select2-container {
  padding-top: 10px !important;
}

.select2-container--open .select2-dropdown--below {
  border-top: 1px solid #aaa !important;
}

.select2-container--default .select2-selection--single {
  border: none !important;
}

.select2-container--focus {
  border: none !important;
}