html {
    width: 100%;
    background-color: #ebebeb;
}

.wrap {
    /* width: 100%; */
}

.wrap-box {
    /* width: 100%;
    box-sizing: border-box;
    background-color: #ffffff; */
}

.wrap-list {
    /* display: flex;
    height: 50px;
    line-height: 50px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

.lab {
    /* flex: 0 0 100px; */
    /* color: rgba(0,0,0,0.65);
    font-weight: 500;
    box-sizing: border-box;
    font-size: 15px;
    margin-right:10px;  */
}
/* .lab p{
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;

}
.info {
    flex: 1;
}

.info p {
    margin-right: 5px;
    font-size: 14px;
    float: right;
} */
.hidden{
    display: none !important;
}

.flex-lists{
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 0 20px;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
  
  .flex-lists .lab{
    color: rgba(0, 0, 0, 0.65);
    font-weight: 500;
    padding-top: 1px;
    font-size: 15px;
  }
  .flex-lists .value{
    font-size: 14px;
    width: 0;
    flex-shrink: 1;
    flex-grow: 1; 
  }