<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>详细信息</title>
  <link rel="stylesheet" href="css/vs-detail-info.css?1520257573=">
  <script src='js/polyfill.js'></script>
  <script src="lib/js/vue.min.js?1520313481="></script>
  <script src="lib/js/axios.min.js?1520313481="></script>
  <script src="js/axios-request.js"></script>
</head>

<body>
  <div id="app">
    <shop-info v-if="type==='club'" :type="type":id="id" :action="action"></shop-info>
    <manager-info v-if="type==='manager'" :type="type":id="id" :action="action"></manager-info>
    <market-info v-if="type==='area_manager'" :type="type":id="id" :action="action"></market-info>
    <area-info v-if="type==='bazaar_manager'" :type="type":id="id" :action="action"></area-info>
    <confirm-btn v-if="action==='undone'" :type="type" :id="id" :action="action"></confirm-btn>
  </div>
</body>
<script src="js/route.js?=4"></script>
<script src="js/swal.min.js"></script>
<script src="js/vc-shop-info.page.js?4="></script>
<script src="js/vc-manager-info.page.js?2="></script>
<script src="js/vc-market-info.page.js?2="></script>
<script src="js/vc-area-info.page.js?2="></script>
<script src="js/vc-confirm-btn.js?1520257575="></script>
<script>
  new Vue({
    el: '#app',
    data:function(){
      return{
        type:'',
        id: '',
        action: ''
      }
    },
    created:function() {
      this.id =  axiosUrlParams('id');
      this.type = axiosUrlParams('type');
      this.action = axiosUrlParams('action');
    }
  })
</script>

</html>